@layer base {
    html {
        scroll-behavior: smooth;
        box-sizing: border-box;
    }

    body {
        position: relative;
        text-rendering: geometricPrecision;
    }
}

:root {
    --font-family: "Urbanist", sans-serif;

    --common-white: #fff;
    --common-black: #000;
    --primary-primary-100: #faf7f4;
    --primary-primary-200: #f2e8de;
    --primary-primary-300: #e9d9c9;
    --primary-primary-400: #dcc2a8;
    --primary-primary-500: #d3b393;
    --grey-grey-100: #bda084;
    --grey-grey-200: #947d66;
    --grey-grey-300: #6a5a49;
    --grey-grey-400: #2a241d;
    --grey-grey-500: #181513;
    --surface-surface-001: #d3b393;
    --surface-surface-002: #f2e8de;
    --surface-surface-003: #6a5a49;
    --surface-surface-004: rgba(255, 255, 255, 0.1);
    --border-border-001: #6a5a49;
    --border-border-002: #e9d9c9;
    --border-border-003: rgba(255, 255, 255, 0.2);
    --border-border-004: #2a241d;
    --status-success: #5da34c;
    --status-pending: #f3c317;
    --status-cancel: #c94a00;
    --other-titlebar-grt: rgba(24, 21, 19, 0.6);
    --other-dark-blur: rgba(24, 21, 19, 0.4);
    --other-white-800: rgba(255, 255, 255, 0.8);
    --common-white: #fff;
    --common-black: #000;
    --primary-primary-100: #faf7f4;
    --primary-primary-200: #f2e8de;
    --primary-primary-300: #e9d9c9;
    --primary-primary-400: #dcc2a8;
    --primary-primary-500: #d3b393;
    --grey-grey-100: #bda084;
    --grey-grey-200: #947d66;
    --grey-grey-300: #6a5a49;
    --grey-grey-400: #2a241d;
    --grey-grey-500: #181513;
    --surface-surface-002: #f2e8de;
    --surface-surface-003: #6a5a49;
    --surface-surface-004: rgba(255, 255, 255, 0.1);
    --status-success: #5da34c;
    --status-pending: #feb11d;
    --status-cancel: #c94a00;
    --surface-surface-001: #fbf7f4;
    --colors-surface-surface---light: var(--surface-surface-001);
    --colors-primary-primary: var(--primary-primary-500);
    --colors-primary-on---primary: var(--grey-grey-500);
    --colors-surface-surface---medium: var(--surface-surface-002);
    --colors-surface-surface---dark: var(--surface-surface-003);
    --colors-texts-text---high-emphasis: var(--grey-grey-500);
    --colors-texts-text---mid-emphasis: var(--grey-grey-300);
    --colors-texts-text---low-emphasis: var(--grey-grey-200);
    --colors-button-button---primary: var(--primary-primary-500);
    --colors-button-button---secondary: var(--surface-surface-002);
    --colors-border-border---light2: var(--border-border-3);
    --colors-border-border---light1: var(--border-border-1);
    --border-border-1: #e1dedb;
    --border-border-2: #e9d9c9;
    --other-titlebar-grt: rgba(24, 21, 19, 0.6);
    --other-dark-blur: #f2e8de;
    --other-white-800: rgba(255, 255, 255, 0.8);
    --border-border-4: rgba(255, 255, 255, 0.2);
    --border-border-3: #d4d3d2;
    --colors-surface-surface-opacity: var(--surface-surface-004);
    --colors-texts-text-white: var(--common-white);
    --colors-button-button-opacity: var(--surface-surface-004);
    --colors-button-button-white: var(--common-white);
    --colors-button-button-text-light: var(--common-white);
    --colors-button-button-text-dark: var(--grey-grey-500);
    --colors-border-border---theme: var(--border-border-2);
    --colors-border-border---opacity: var(--border-border-4);
    --colors-primary-white: var(--common-white);
    --colors-primary-black: var(--common-black);
    --colors-button-button---dark: var(--grey-grey-500);
    --colors-surface-surface-white: var(--common-white);
    --status-success-1: #d6f9cd;
    --status-pending-1: #feeed0;
    --status-cancel-1: #f5dac9;
    --colors-texts-text---placeholder: var(--border-border-3);
    --colors-status-success: var(--status-success);
    --colors-status-pending: var(--status-pending);
    --colors-status-cancel: var(--status-cancel);
    --colors-status-pending-1: var(--status-pending-1);
    --colors-status-success-1: var(--status-success-1);
    --colors-status-cancel-1: var(--status-cancel-1);
}